@model CreateCertificationAuthorityModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
  <h1>Certificate Management</h1>
  <p>Create your internal Certificate Authority.</p>

  <hr>

  <h2>1. Generate Certification Authority</h2>
  
  <form asp-controller="Home" asp-action="GenerateCA" method="post">
    <table>
      <tr>
        <th>Certification Authority Name:</th>
        <td><input asp-for="FriendlyName"></td>
      </tr>
      <tr>
        <th>Validity:</th>
        <td>
          <select asp-for="ValidityYears">
            <option value="1">1 year</option>
            <option value="5">5 years</option>
            <option value="10">10 years</option>
            <option value="20">20 years</option>
          </select>
        </td>
      </tr>
    </table>
    
    <p>
      <button type="submit">Generate certificate</button>
    </p>
  </form>

  @*<p>
    <strong>Subject:</strong> <pre>@Model.SubjectName</pre><br>
    <strong>Friendly name:</strong> <pre>@Model.FriendlyName</pre><br>
    <strong>PEM:</strong> <pre>@Model.PEM</pre><br>
  </p>*@
</div>
